.git
.github
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/vendor
**/.venv*
**/__pycache__
**/.pytest_cache
**/*.pyc
**/dist
**/*.log
smartlab-api/bootstrap/cache/*.php
smartlab-api/database/*.sqlite
